<div class="message">
  <div class="message-header">
    <div>-- Logs --</div>
    <i class="far fa-window-close float-right" (click)="toggleLogView()"></i>
  </div>
  <div class=" message-body">
    <li *ngFor="let message of logMessages">{{ message }}</li>
  </div>
</div>
