<span *ngIf="loading"><i class="fa fa-cog spinner"></i> </span>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">LCPS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="employees"
          >Employee <span class="sr-only">Employees</span></a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a
          style="cursor: pointer;"
          class="nav-link"
          (click)="toggleLogListWidget()"
        >
          {{ loggerService.isLogVisible ? 'Hide' : ' Show' }} Logs List
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          routerLink="login"
          class="nav-link"
          *ngIf="!loginService.isLoggedOn()"
          >login</a
        >
        <div
          class="d-flex flex-column align-items-center"
          *ngIf="loginService.isLoggedOn()"
        >
          <div style="margin-bottom:-15px; color: maroon; font-weight: bold;">
            {{ loginService.LoggedInUser.UserName }}
          </div>
          <a routerLink="login" class="nav-link" (click)="onLogOut()"
            >log out</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row mt-5"></div>
  <router-outlet name="logListWidget"></router-outlet>
  <router-outlet></router-outlet>
</div>
