<div class="row">
  <div class="col-6 d-flex justify-content-center">
    <button class="btn btn-danger" (click)="onLogin(0)">
      Login as Admin
    </button>
  </div>
  <div class="col-6 d-flex justify-content-center">
    <button class="btn btn-primary" (click)="onLogin(1)">
      Login as Site User
    </button>
  </div>
</div>
