.header {
  border-bottom: 1px solid red;
  margin: 10px;
  & div {
    color: steelblue;
    font-weight: bold;
  }
}

.lightgrid div {
  border-right: 1px solid lightgray;
  padding: 2px 5px;
  &:last-child {
    border-right: 0px;
  }
}

.borders {
  border: 2px solid blue;
  box-shadow: 5px 5px 5px lightgray;
  margin: 5px;
  padding: 10px;
}
