.raw-view {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: black;
}

.borders {
  border: 1px solid green;
  box-shadow: 3px 3px 3px lightgray;
  margin: 5px;
  padding: 10px;
}

label.radio:first-of-type {
  margin-right: 15px;
  margin-left: 20px;
}
